/1,2 практики.xlsx
/2994
/5(2).xlsx
/5.xlsx
/component
/fgf.png
/formBuilder-main
/html
/JavaScript (1).pptx
/pr 14.sql
/pr12.sql
/pr12.txt
/pr13.sql
/pr13.txt
/pr15.sql
/pr15.txt
/sveltekit-email-password
/Анализ предметной области.docx
/апап.png
/Без имени.png
/Вапапап.png
/диаграмма.png
/диагрмаа.png
/Ефремов И. А..zip
/Курсовая работа.docx
/Новый документ.pdf
/практика4.xlsx
/практики бд
/практическая.xlsx
/практическая3.xlsx
/Разработка приложения по продажам машин.pptx
/Создание сайта.docx
/тз.docx
/титульник.docx